<head>

    <link rel="stylesheet" href="../css/fonticons.css">
    <link rel="stylesheet" href="../fonts/stylesheet.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/plugins.css" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <link rel="stylesheet" href="../css/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>


<!-- <div id="content" role="main"> </div> -->

<div class="caly">



    <section id="home" class="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider text-center">
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1>System informatyczny do wyznaczania częstotliwości granicznej silników elektrycznych </br>
                                        z wielopunktową rejestracją temperatury</h1>

                                    <div class="home_btn">
                                        <a  class="btn btn-md"  href="#view4">Zadania Projektu</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>







</div>







    <!-- <header class="entry-header">
         <h1 class="entry-title">
             System informatyczny do zdalnego wyznaczania częstotliwości granicznej silnika elektrycznego z wielopunktową rejestracją temperatury
         </h1>
    </header>
</div>
    <img src="partials/SILNIK-ELEKTRYCZNY-230V-380V-31-2-2800-obr-min.jpg" alt="" class='center'>



    -->












   



    
